*{
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $main-bg-color;
    color: $main-text-color;
    font-family: $default-family;
    font-size: 16px; 
}

a{
    display: block;
    color: aliceblue;
   // text-decoration: none;

    margin: 1rem 0;
}

.new-message{
    padding: 10px;
    background-image: linear-gradient(rgba(151, 238, 51, 0.815),#35ecec, rgba(24, 95, 161, 0.815));
    color: white;
    float: left;
    clear: both;
    border-radius: 25px;
    margin: 50px;
}

.my-message{ 
    width: 35%;
    height: auto;
    padding: 10px;
    margin: 50px;
    background-image: linear-gradient(rgba(237, 136, 178, 0.815),#6F4AD5, rgba(90, 12, 76, 0.815));
    color: white;
    float: right;
    border-radius: 25px;
}

.persona{
    font-size: 25px;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 5px;
}

.contenido{
    font-size: 30px;
}