.form{
    display: flex;
    //background-image: url("../images/sa.jpg");
   // background-color: #5A0C4C;
    height: 80%;
    width: 30%;
    margin: auto;
    margin-bottom: 120px;
    align-items: center;
    flex-direction: column;
   // padding-top: 50%;
    //padding-left: center;
    justify-content: space-between;
}


.icon {
    position: relative;
  overflow: hidden;
    width: 180px; 
    height: 180px;
    background-image: url("../../../images/astro.jpg"); 
    background-position:60%;
    //background-position: rotate(45deg);
    background-size: cover;
    border: solid 6px rgb(253, 128, 237);
    border-radius: 50px;
    background-color: red;
    margin-top: 45px;
    margin-bottom: 25px;
  }
  
  

.whole{
    background-image: linear-gradient(rgba(237, 136, 178, 0.815),#6F4AD5, rgba(90, 12, 76, 0.815));
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} 



h1{
    font-size: 55px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

h4{
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 115px;
    //background-color: black;
}

.inputi{
    width: 80%;
    height: 40px;
    border-radius: 50px;
    text-align:center;
    text-decoration-color: beige;
    background-color: rgba(165, 165, 165, 0.562);
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.inputi::placeholder{
    color: white;
  }

  .inputi:focus{
    background-color: rgba(255, 255, 255, 0.89);
  }

.joinbutton{
    height: 25px;
    width: 80%;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    color: purple;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}



